body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #cbd1db 0%, #92a4acb4 100%);
    color: #333;
    padding: 15px;
}

.game-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a5276;
}

.instructions {
    background-color: #d4e6f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    padding: 7px;
    background-color: white;
    /* border: 2px solid #3498db; */
    border-radius: 18px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .title {
    padding: 15px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #2c3e50;
}

.matched {
    border-color: #27ae60;
    background-color: #dff9e3;
}

.wrong {
    border-color: #e74c3c;
    animation: shake 0.5s;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-5px);
    }

    40%,
    80% {
        transform: translateX(5px);
    }
}

.score {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #16a085;
}

button {
    background-color: #92a4ac;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #586879;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    .instructions {
        font-size: 0.9rem;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .game-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5rem;
    }
}