@media (max-width: 1300px) {

    .header,
    .container,
    .bottom-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header,
    .cards {
        padding: 18px 29px;
    }

    .header__icon-text {
        font-size: 30px;
    }

    .header__nav {
        display: none;
    }

    .dost-container__card:last-child {
        display: none;
    }

    .connect-img {
        width: 600px;
    }

    .dost-container__card {
        max-width: calc(50% - 30px);
    }

    .dost-container__card-img {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    .container {
        margin-bottom: 40px;
    }

    .connect-img {
        width: 400px;
    }

    .dost-container__card:nth-child(2n) {
        display: none;
    }

}

@media (max-width: 860px) {
    .media {
        display: none;
    }

    .gallery-title {
        font-size: 20px;
    }

    .container {
        margin-bottom: 30px;
    }

    .map-container__title {
        font-size: 28px;
    }

    .connect-img {
        width: 100%;
        top: 279px;
        right: 0;
    }

    .container-bottom {
        height: 578px;
    }

}

@media (max-width: 690px) {
    .container {
        margin-bottom: 20px;
    }

    .dost-container__card:nth-child(2n) {
        display: block;
    }

    #cards0 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cards1 {
        display: none;
    }

    #cards2 {
        display: none;
    }

    .dost-container__card {
        max-width: 100%;
    }
}

@media (max-width: 544px) {}