*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'inglobal';
    background-color: var(--background);
    color: var(--text-color);
}